# Replace the values in this file and rename it to website.env
MONGO_USERNAME=root
MONGO_PASSWORD=example
MONGO_DATABASE=portfolio
PAYLOAD_SECRET=your-payload-secret
NEXT_TELEMETRY_DISABLED=1
PORT=3001